@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
}

.custom-input-with-label input:focus-visible + label {
  @apply transform -translate-y-1/2 top-0;
  transition: all 0.5s ease;
}
.custom-input-with-label input:not(:placeholder-shown):not(:focus-visible) + label {
  @apply hidden;
}

.custom-input-with-label textarea:focus-visible + label {
  @apply transform -translate-y-1/2 top-0;
  transition: all 0.5s ease;
}
.custom-input-with-label textarea:not(:placeholder-shown):not(:focus-visible) + label {
  @apply hidden;
}
